/* Clicking Dead Front End */
html
{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}


body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0px auto;
    padding: 0px;
    
    width: 100%;
    height: 100%;
    
    max-width: 1324px;
    overflow: scroll;
}

button:focus
{
  outline: 0;
}

.blackout
{
  width: 101%;
  height: 101%;
  
  margin: 0px;
  padding: 0px;
  
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, .85);
  
  z-index: 4;
}

div.instructions
{
  width: 500px;
  height: 500px;

  margin: 0px;
  padding: 10px;

  top: 50%;
  left: 50%;
  margin-left: -260px;
  margin-top: -260px;

  position: absolute;

  color: #fff;

  font-size: 1.1em;

  text-align: justify;
}

div.instructions .letsGo
{
    text-align: center;
    border-radius: 6px;
    width: 300px;
    line-height: 1.4em;
    font-size: 1.4em;
    letter-spacing: 0.06em;
    color: #fff;
    padding: 8px 4px;
    margin: 0px;
    position: absolute;
    bottom: 20px;
    
    left: 50%;
    margin-left: -158px;

    background-color: green;

    border: none;
    
    cursor: default;
    font-weight: 300;   
}

div.instructions h2
{
  font-size: 2.75em;
  font-weight: normal;

  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;

  width: 100%;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}


.backgroundImage
{
    width: 101%;
    height: 101%;
    
    margin: 0px;
    padding: 0px;
    
    position: absolute;
    
    opacity: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.backgroundImage.atlanta
{
    background-image: url('../images/9767834486_7540bf12e0_b-1.jpg');
}

.backgroundImage.highway
{
    background-image: url('../images/highway.jpg');
}

.backgroundImage.forest
{
    background-image: url('../images/Fog_forrest.jpg');
}

.backgroundImage.farm
{
    background-image: url('../images/BarnPenn.jpg');
}

.backgroundImage.research
{
    background-image: url('../images/laboratory.jpg');
}

.backgroundImage.village
{
    background-image: url('../images/village.jpg');
}

.backgroundImage.prison
{
    background-image: url('../images/prison.jpg');
}

.backgroundImage.warehouse
{
    background-image: url('../images/winchesterarms.jpg');
}

.backgroundImage.currentLocation
{
    opacity: 1;
    top: 0;
    left: 0;
}

.hidden
{
    display: none;
    opacity: 0;
    top: 0px;
    left:  150%;
}


.advertisement
{
    top: 0px;
    position: relative;
    
    height: 90px;
    left: 50%;
    
    margin: 0px;
    margin-left: -364px;
    width: 728px;
    
    padding: 0px;
    
    background-color: yellow;
}

h1.name
{
    font-family: Impact, Charcoal, sans-serif;
    padding: 0px;
    font-size: 4em;
    height: 52px;
    color: #fff;
    float: left;
}


span.the
{
    font-size: .5em;
    font-weight: 300;
}

div.pageWrapper
{
    margin: 0px auto;
    margin-top: 20px;
    min-width: 930px;
    max-width: 1304px;
    padding: 0px 10px;
}

div.contentWrapper
{
    min-width: 930px;
    max-width: 1304px;
    margin: 0px auto;

    clear: both;
    position: relative;
    padding: 0px 10px;
}

div.contentWrapper.main3
{
    height: 220px;
    margin-bottom: 20px;
}

div.contentWrapper.menuItems
{
    height: 304px;
    
}

.blackbox
{
    background-color: rgba(51, 51, 51, .8);
    color: #fff;
    text-align: center;
}


.blackbox.main3
{
    height: 180px;
    width: 250px;
    
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

table
{
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
}

tr
{
    margin: 0px;
    padding: 0px;
    
    width: 100%;
}

td.name
{
    width: 455px;
}

td.moveLocationArrow
{
    width: 290px;
}

td.scavengeBox
{
    width: 290px;
}

td.zombiesBox
{
    width: 290px;
}


.blackbox.main3#scavenge
{
    float: left;
}



.blackbox.main3#news
{
    width: 100%;
    padding: 10px 0px;
    
    list-style: none;
}

.newsItem
{
    position: relative;
    width: 100%;
    height: 45px;
    
    border-bottom: 1px solid #efefef;
    display: table;
    
    -webkit-transition-property: all;
    -webkit-transition-duration: 2s; 
    -webkit-transition-timing-function: ease-in-out;
}

.newsItem.flavorPost
{
  color: #39f;
}

.newsItem.dangerPost
{
  color: red;
}

.newsItem.bonusPost
{
  color: green;
}

.newsItem:last-of-type
{
    border-bottom: none;
}


span.newsContent
{
    text-align: left;
    font-size: 1.25em;
    
    padding: 10px;
    
    display:table-cell;
    vertical-align: middle;
}


.blackbox.main3#zombies
{

    float:right;
}

.blackbox.main3 p.action
{
    font-size: 2em;
    color: #fff;
    margin: 0px; auto;
    padding: 0px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.blackbox.main3 p.count
{
    font-size: 1.50em;
    color: #fff;
    margin: 10px 0px 6px 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}

.blackbox.main3 p.perSecond
{
    font-size: 1.0em;
    color: #fff;
    margin: 6px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}

nav.menu
{
    width: 266px;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    float: left;
}

.blackbox.menu
{
    line-height: 50px;
    font-size: 1.5em;
    padding: 6px 8px;
    margin: 8px 0px;
    display: block;
    
    height: 50px;
    width: 250px;
    cursor: default; 
    text-align: center;   
}

.blackbox.menu:first-of-type
{
    margin-top: 0px;
}

.blackbox.itemsList
{
    height: 272px;
    margin: 0px;
    margin-left: 286px;
    padding: 0px;
    list-style: none;
    overflow: scroll;
}

.upgradeItem
{
  height: 74px;
  margin: 0px;
  padding: 8px 14px;
  text-align: left;

  position: relative;

  border-bottom: 1px solid #efefef;
}

.upgradeItem:last-of-type
{
  border-bottom: none; 
}

.upgradeItem h2
{
  margin: 0px;
  padding: 0px;

  font-size: 1.65em;
  font-weight: normal;

  color: #fff;
}

.upgradeItem div.generalInfoWrapper
{
  width: 75%;
  float: left;
}

.upgradeItem div.purchaseInfoWrapper
{
  width: 25%;
  float: left;
  display: table;

  vertical-align: middle;
}

.upgradeItem div.purchaseInfoWrapper span
{
  text-align: right;
  display: table-row;
}

.upgradeItem div.purchaseInfoWrapper span.countWrapper
{
  font-size: 1.2em;
}

.upgradeItem div.purchaseInfoWrapper span.priceWrapper
{
  font-size: 1.2em;
}

.upgradeItem div.purchaseInfoWrapper span.priceWrapper p, 
.upgradeItem div.purchaseInfoWrapper span.countWrapper p
{
  margin: 0px;
  margin-top: 6px;

  padding: 0px;
}

.upgradeItem div.purchaseInfoWrapper span.buttons
{
  height: 1.65em;
}

.upgradeItem div.purchaseInfoWrapper p.purchased
{
  font-size: 1.75em;
  float: right;
}

.purchaseButton
{
    border: 1px solid #fff;
    border-radius: 6px;
    line-height: 1.4em;
    font-size: 1.4em;
    letter-spacing: 0.06em;
    color: #fff; 
    padding: 3px 12px;
    margin: 0px 5px;
    
    float: right;
    cursor: default;

    text-align: center;

    background-color: #999;  
    font-size: 1em;
}



.upgradeItem div.generalInfoWrapper p
{
  margin: 0px;
  margin-top: 6px;
  padding: 0px;

  font-size: 1.2em;
}

.upgradeItem div.generalInfoWrapper p span
{
  padding: 0px 15px 0px 0px;  
  display: inline-block;
}

.upgradeItem div.generalInfoWrapper p span.description
{
  color: #999;
}


.clickButton
{
    border-radius: 6px;
    width: 234px;
    line-height: 1.4em;
    font-size: 1.4em;
    letter-spacing: 0.06em;
    color: #fff;
    padding: 8px 4px;
    margin: 0px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -121px;

    border: none;
    
    cursor: default;   
}

.clickButton.scavengeButton
{
    background-color: green;
}


.clickButton.killZombieButton
{
    background-color: red;
}

.noSelect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


span.positiveReinforcement
{
    position: absolute;
    bottom: 26%;
    left: 40%;
    
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    background: transparent;
    
    z-index: 2;
    
    opacity: 0;
}

span.positiveReinforcement.zombies
{
    color: red;
}

span.positiveReinforcement.scavenge
{
    color: green;
}

.blackbox.main3 span.positiveReinforcement:nth-child(odd)
{
   animation: showCount 2s ease-in-out forwards;
    -webkit-animation: showCount 2s ease-in-out forwards; /* Safari and Chrome: */
}


.blackbox.main3 span.positiveReinforcement:nth-child(even)
{
    animation: showCount2 2s ease-in-out forwards;
    -webkit-animation: showCount2 2s ease-in-out forwards; /* Safari and Chrome: */
}

.blackbox.main3 span.positiveReinforcement:nth-child(4n+1)
{
    animation: showCount3 2s ease-in-out forwards;
    -webkit-animation: showCount3 2s ease-in-out forwards; /* Safari and Chrome: */
}

.blackbox.main3 span.positiveReinforcement:nth-child(3n+5)
{
    animation: showCount4 2s ease-in-out forwards;
    -webkit-animation: showCount4 2s ease-in-out forwards; /* Safari and Chrome: */
}


/*Progress Bars*/
div.progressBars
{
    float: right;
    width: 100%;
    color: #fff;
    font-size: 1em;
}


div.progressWrapper
{
    background-color: rgba(51, 51, 51, .8);
    height: 14.5px;
    width: 96%;
    
    padding: 5px 5px;
    border-radius: 10px;
}


div.progressWrapper:first-of-type
{
    margin-bottom: 10px;
}


progress.zombieMeter::-webkit-progress-value 
{
    background-color: red;
}


progress.suppliesMeter::-webkit-progress-value
{
    background-color: green;
}

progress {  
    border: 0;  
    height: 14.5px;  
    width: 100%;
    border-radius: 10px;
}  
progress::-webkit-progress-bar {  
    border: 0;  
    height: 14.5px;  
    width: 100%;
    border-radius: 10px;
}  
progress::-webkit-progress-value {  
    border: 0;  
    height: 14.5px;  
    width: 100%;
    border-radius: 10px;
}
progress::-moz-progress-bar {  
    border: 0;  
    height: 14.5px;  
    width: 100%;
    border-radius: 10px;  
}  

/*Arrow Box*/
.arrowBox {
  position: relative;
  background: rgba(51, 51, 51, .8);
  border: none;

  padding: 0px 10px;

  height: 40px;
  margin-right: 30px;
  float: right;

  text-align: center;
  font-size: 1.25em;
  line-height: 40px;
  color: #fff;

  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.arrowBox:after, .arrowBox:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBox:after {
  border-color: rgba(51, 51, 51, 0);
  border-width: 30px;
  top: 50%;
  margin-top: -30px;
}
.arrowBox:before {
  border-color: rgba(51, 51, 51, 0);
  border-left-color: rgba(51, 51, 51, .8);
  border-width: 36px;
  top: 50%;
  margin-top: -36px;
}

/* Animations */
.breakTheStory
{
    animation: addStoryToNewsFeed 1s ease-in-out forwards;
    -webkit-animation: addStoryToNewsFeed 1s ease-in-out forwards; /* Safari and Chrome: */
}

.oldStory
{
    animation: deleteStoryFromNewsFeed 1s ease-in-out 1s forwards;
    -webkit-animation: deleteStoryFromNewsFeed 1s ease-in-out forwards; /* Safari and Chrome: */
}

.moveToLocation
{
    animation: moveIn 6s ease-in-out forwards;
    -webkit-animation: moveIn 6s ease-in-out forwards; /* Safari and Chrome: */
}

.leaveLocation
{
    animation: moveOut 6s ease-in-out forwards;
    -webkit-animation: moveOut 6s ease-in-out forwards; /* Safari and Chrome: */
}


@-webkit-keyframes showCount {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-1.5em,-3em);}
}

@-moz-keyframes showCount {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-1.5em,-3em);}
}
@-o-keyframes showCount {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-1.5em,-3em);}
}
@keyframes showCount {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-1.5em,-3em);}
}


@-webkit-keyframes showCount2 {
  0%   { opacity: 0; }
 20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(3em,-2.5em);}
}

@-moz-keyframes showCount2 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(3em,-2.5em);}
}
@-o-keyframes showCount2 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(3em,-2.5em);}
}
@keyframes showCount2 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(3em,-2.5em);}
}


@-webkit-keyframes showCount3 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-3em,-3.5em);}
}

@-moz-keyframes showCount3 {
  0%   { opacity: 0; }
20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-3em,-3.5em);}
}
@-o-keyframes showCount3 {
  0%   { opacity: 0; }
20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-3em,-3.5em);}
}
@keyframes showCount3 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(-3em,-3.5em);}
}


@-webkit-keyframes showCount4 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(2em,-3em);}
}

@-moz-keyframes showCount4 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(2em,-3em);}
}
@-o-keyframes showCount4 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(2em,-3em);}
}
@keyframes showCount4 {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  70%  { opacity: 1; }
  100% { opacity: 0; -webkit-transform: translate(2em,-3em);}
}


@-webkit-keyframes moveIn {
  0%   { left: 100%; opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px; left:0px; background-size: cover;}
}
@-moz-keyframes moveIn {
  0%   { left: 100%; opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px; left:0px; background-size: cover;}
}
@-o-keyframes moveIn {
  0%   { left: 100%; opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px; left:0px; background-size: cover;}
}
@keyframes moveIn {
  0%   { left: 100%; opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px; left:0px; background-size: cover;}
}



 @-webkit-keyframes moveOut {
  0%   { left: 0px; opacity: 1; top: 0px; }
  100% { opacity: 1; top: 0px; left: -100%; background-size: cover;}
}
@-moz-keyframes moveOut {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
@-o-keyframes moveOut {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
@keyframes moveOut {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}


@-webkit-keyframes addStoryToNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}
@-moz-keyframes addStoryToNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}
@-o-keyframes addStoryToNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}
@keyframes addStoryToNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}

@-webkit-keyframes deleteStoryFromNewsFeed {
  0%   { top: 0px; }
  100% { top: 50px;}
}
@-moz-keyframes deleteStoryFromNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}
@-o-keyframes deleteStoryFromNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}
@keyframes deleteStoryFromNewsFeed {
  0%   { left: 0; top: -100px; opacity: 0;}
  100% { opacity: 1; top: 0px; left:0px;}
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.8, 0.8); opacity: 1.0;}
    50% {-webkit-transform: scale(1, 1); opacity: 1.0;}
    100% {-webkit-transform: scale(.8, .8); opacity: 1.0;}
}
