/* Clicking Dead Front End */
html
{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}


body
{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
}


.backgroundImage
{
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    
    position: absolute;
    
    opacity: 0;
    
    background-repeat:no-repeat;
    background-size: cover;
    z-index: -1;
}

.backgroundImage.atlanta
{
    background-image: url('../images/9767834486_7540bf12e0_b-1.jpg');
}

.backgroundImage.highway
{
    background-image: url('../images/highway.jpg');
}

.backgroundImage.currentLocation
{
    opacity: 1;
    top: 0;
    left: 0;
}

.hidden
{
    opacity: 0;
    top: 0px;
    left:  150%;
}


.advertisement
{
    top: 0px;
    position: absolute;
    
    height: 90px;
    left: 50%;
    
    margin: 0px;
    margin-left: -460px;
    width: 920px;
    
    padding: 0px;
    
    background-color: yellow;
}

h1.name
{
    width: 40%;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 4em;
    height: 52px;
    color: #fff;
    float: left;
}

div.progressBars
{
    float: right;
}

span.the
{
    font-size: .5em;
    font-weight: 300;
}

div.pageWrapper
{
    width: 90%;
    margin: 0px auto;
    margin-top: 120px;
    min-width: 1004px;
}

div.main3wrapper
{
    min-width: 1004px;
    margin: 0px auto;
    padding: 0px;
    clear: both;
    position: relative;
}

.blackbox
{
    background-color: rgba(51, 51, 51, .8);
    color: #fff;
    text-align: center;
}


.blackbox.main3
{
    height: 300px;
    width: 300px;
    
    margin: 0px;
    padding: 10px;
}

.blackbox.main3#scavenge
{
    float: left;
    margin-right: 20px;
}


.blackbox.main3#news
{
    position: absolute;
    left: 50%;
    margin-left: -160px;
}


.blackbox.main3#zombies
{
    margin-left: 20px;
    float:right;
}


/* Animations */
.moveToLocation
{
    animation: moveIn 5s ease-in-out forwards;
    -webkit-animation: moveIn 5s ease-in-out forwards; /* Safari and Chrome: */
}
