/* Clicking Dead Front End */
html
{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}


body
{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    
    width: 100%;
    height: 100%;
}


/* Nick */
.backgroundImage
{
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding: 0px;
    
    position: absolute;
    
    opacity: 0;
    
    background-repeat:no-repeat;
    background-size: cover;
    z-index: -1;
}

.backgroundImage.atlanta
{
    background-image: url('../images/9767834486_7540bf12e0_b-1.jpg');
}

.backgroundImage.highway
{
    background-image: url('../images/highway.jpg');
}

.backgroundImage.currentLocation
{
    opacity: 1;
    top: 0;
    left: 0;
}

.hidden
{
    opacity: 0;
    top: 0px;
    left:  150%;
}



.moveToLocation
{
    animation: moveIn 5s ease-in-out forwards;
    -webkit-animation: moveIn 5s ease-in-out forwards; /* Safari and Chrome: */
}
